* {
    font-family: 'Manrope', sans-serif;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

.modal {
    background: #fff;
    width: 500px;
    padding: 24px;
    border-radius: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.field input {
    border: none;
    border-bottom: 1px solid #e2e8f0;
    font-size: 1.125rem;

    font-weight: 500;
    transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.field input:focus {
    outline: none;
    border-bottom-color: #475569;
}

.field textarea {
    width: 100%;

    background-color: #f8fafc;

    border: none;

    border-radius: 0.5rem;

    padding: 0.75rem 0.50rem;

    font-size: 0.875rem;

    color: #475569;

    resize: none;

    transition: box-shadow 0.2s ease-in-out;
}

.field textarea::placeholder {
    color: #9ca3af;
}

.field textarea:focus {
    outline: none;
    box-shadow: 0 0 0 1px rgba(71 85 105)
}


.actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}


.createBtn {
    padding: 0.625rem 1.5rem;
    /* px-6 py-2.5 */
    background: #4c6f70;
    /* bg-primary */
    color: white;
    /* text-white */
    font-size: 0.875rem;
    /* text-sm */
    font-weight: 700;
    /* font-bold */
    border-radius: 0.5rem;

    border: none;
    cursor: pointer;
    display: flex;

    align-items: center;

    gap: 0.5rem;

    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);

    transform: translateY(0);

}

.createBtn:hover {
    background: #3e5b5c;
    /* hover:bg-primary-dark */


}

.createBtn:active {
    transform: scale(0.95);
}

.closeBtn {
    background: transparent;
    border: none;
    color: #64748b;
}

.closeBtn:hover {
    color: #1e293b;
}